.button {
  outline: none;
  padding: 0.9em 0;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #0b4379;
  box-shadow: 0 2px 1px rgba(28, 28, 29, 0.42);
  border-radius: 22px;

  &:hover {
    background: #002242;
    transition: .5s all;
  }
}
