.list-group-item {
  margin-bottom: 5px;
}

.list-group-item p {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
  width: 400px;
  list-style-type: none;
}

.red {
  border: 2px solid red;
}

.green {
  border: 2px solid green;
}

.yellow {
  border: 2px solid yellow;
}

.blue {
  border: 2px solid blue;
}
