$footer-background-color: #343233;
$footer-text-color: #fff;
.footer {
  background: $footer-background-color;
  color: $footer-text-color;

  &__container {
    display: flex;
    padding-top: 31px;
  }

  &:before {
    content: '';
    height: 258px;
    display: block;
    background: repeating-linear-gradient(-45deg, #ededed, #ededed 5px, white 5px, white 15px);
  }
}
