$description-color: #343334;

.hero {
  margin-bottom: 138px;
  padding-top: 35px;

  &__wrapper {
    text-align: center;
    padding: 0 30px;
  }

  &__description {
    margin-bottom: 30px;
    font-size: (21 / 16) * 1rem;
    color: $description-color;
  }
}

.main-title {
  font-size: 5rem;
  margin-bottom: 27px;
}
