$promo-background-color: #94ccd6;
$description-color: #fff;

.promo {
  background: $promo-background-color;
  padding: 120px 0;

  &__container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  &-card {
    max-width: 606px;

    &__picture {
      margin-bottom: 45px;
    }

    &__description {
      font-size: (26 / 16) * 1rem;
      font-weight: bold;
      color: $description-color;
    }

    &__link {
      color: $description-color;
      font-size: (20 / 16) * 1rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
