section.clients
  .container.clients__container
    each item, index in ['Project Name', 'Redesigning a Leading Innovative Platform to Unlock the Power of Collaboration', 'Project Name', 'Project Name', 'Client Name that is Long will Wrap', 'Project Name', 'Project Name', 'Client Name that is Long will Wrap', 'Project Name']
      article.client
        .client__picture
          img.client__img(src=`img/client-${index + 1}.jpg` alt=item)
        p.client__description=item
        a.client__link(href="#") Client
