section.filter-by
  .filter-by__wrapper
    label.filter-by__label
      span.filter-by__text Filter by

      .filter-by__select-wrapper
        select.filter-by__select
          option Industry
          option Education

