footer.footer
  .container.footer__container
    .copyright &copy EPAM Systems, Inc. All Rights Reserved.
    .services
      ul.links__list
        each item in ['Investors', 'Newsroom', 'Contact']
          li.links__item
            a.links__link(href="#")= item
    .socials
      ul.socials__list
        each item in ['twitter', 'facebook', 'instagram', 'Google-plus']
          li.socials__item
            a.socials__link(href="#")
              svg
                use(xlink:href=`img/${item}.svg#facebook-icon`)
              span.visually-hidden=item
