footer.footer
  .copyright &copy Client Name that  is Long will Wrap Client
  .services
    ul.links__list
      each item in ['Investors', 'Newsroom', 'Contact']
        li.links__item
          a.links__link(href="#")= item
  .socials
    ul.socials__list
      each item in ['Twitter', 'Facebook', 'Instagram', 'Google plus']
        li.socials__item
          a.socials__link(href="#")
            svg
            span.visually-hidden=item
