section.promo
  .container.promo__container
    article.promo-card
      .promo-card__picture
        img(src="img/promo-1.jpg" alt="Increasing Drilling Operational Productivity with Digital Platforms in the Oil Gas Industry")
      p.promo-card__description Increasing Drilling Operational Productivity with Digital Platforms in the Oil Gas Industry
      a.promo-card__link(href="#") Client
    article.promo-card
      .promo-card__picture
        img(src="img/promo-2.jpg" alt="Simplifying Digital Asset Delivery with a Unified Global Repository for Metro")
      p.promo-card__description Simplifying Digital Asset Delivery with a Unified Global Repository for Metro
      a.promo-card__link(href="#") Client
